# Hetzner Cloud API token
HCLOUD_TOKEN=your_hcloud_api_token_here

# Dashboard panel credentials
PANEL_USER=admin
PANEL_PASS=admin

# Server port
PORT=3000

DEPLOY_ENABLE=true


REPO_USER=<GH_USER>
REPO_NAME=<REPO>       
REPO_BRANCH=Hetzner_Vps_Pavlo
